.btn {
    padding: 0.5rem 1rem;
}

.member-card {
    max-height: 300px;
}

.is-online {
    color: rgb(10, 229, 57);
}

.card-title {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
}
