/* You can add global styles to this file, and also import other style files */
.ngx-gallery { display: inline-block; margin-bottom: 20px; }

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.card-img-wrapper:hover img {
    transform: scale(1.1, 1.1);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card-img-wrapper .member-icons {
    position: absolute;
    bottom: -30%;
    opacity: 0;
    text-align: center;
    width: 100%;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.col-2 {
    width: 20%;
}