<div class="row">
  <div class="col-4">
    <div class="card mb-1">
      <img
        src="{{ member.photoUrl || '../../assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail p-1 profile-img"
      />
      <div class="card-body pb-1">
        <div
          class="mb-1"
          *ngIf="(presence.onlineUsers$ | async).includes(member.userName)"
        >
          <i class="fa fa-user-circle">Online now</i>
        </div>
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive | timeago }}</p>
          <!--Custom pipe - downloaded from ngx-timeago-->
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created | date: "longDate" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button
            class="btn btn-primary"
            (click)="member.isLiked ? deleteLike() : addLike()"
          >
            {{ member.isLiked ? "Dislike" : "Like" }}
          </button>
          <button class="btn btn-danger" (click)="selectTab(3)">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 px-3">
    <tabset #memberTabs>
      <tab
        heading="About {{ member.knownAs }}"
        id="tab1"
        class="pb-2"
        (selectTab)="onTabActivated($event)"
      >
        <!-- Now when we select the tab - it calls onTabActivated() and if tab heading is Messages - then load messages -->
        <h4 class="mt-2">Description</h4>
        <p>{{ member.introduction }}</p>
        <p *ngIf="!member.introduction">
          My description is empty yet.. but I'll take care of it soon!=)
        </p>
        <h4 class="mt-3">Looking for</h4>
        <p>{{ member.lookingFor }}</p>
        <p *ngIf="!member.lookingFor">
          I'm looking for... hmmm. I'll share you soon!=)
        </p>
      </tab>
      <tab heading="Interests" (selectTab)="onTabActivated($event)">
        <h4 class="mt-2">Interests</h4>
        <p>{{ member.interests }}</p>
        <p *ngIf="!member.interests">
          Sorry, I haven't listed all my hobbys yet..
        </p>
      </tab>
      <tab heading="Photos" (selectTab)="onTabActivated($event)"
        ><ngx-gallery
          [options]="galleryOptions"
          [images]="galleryImages"
          class="ngx-gallery pt-2"
        ></ngx-gallery
      ></tab>
      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <!-- We want construct this component ONLY when user clicks on tab Messages. 
          By default - when constructs parent (this comp) - constructs also a child -->
        <app-member-messages
          [recipientUserName]="member.userName"
        ></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
