<div class="row">
  <div class="btn-group" name="container">
    <button
      class="btn"
      [(ngModel)]="messageParams.container"
      [ngClass]="
        messageParams.container === 'Unread'
          ? 'btn-custom-secondary-active'
          : 'btn-custom-secondary'
      "
      name="container"
      btnRadio="Unread"
      (click)="loadMessages()"
    >
      <i class="fa fa-envelope"></i>
      Unread
    </button>
    <button
      class="btn"
      [(ngModel)]="messageParams.container"
      [ngClass]="
        messageParams.container === 'Inbox'
          ? 'btn-custom-secondary-active'
          : 'btn-custom-secondary'
      "
      name="container"
      btnRadio="Inbox"
      (click)="loadMessages()"
    >
      <i class="fa fa-envelope-open"></i>
      Inbox
    </button>
    <button
      class="btn"
      [(ngModel)]="messageParams.container"
      [ngClass]="
        messageParams.container === 'Outbox'
          ? 'btn-custom-secondary-active'
          : 'btn-custom-secondary'
      "
      name="container"
      btnRadio="Outbox"
      (click)="loadMessages()"
    >
      <i class="fa fa-paper-plane"></i>
      Outbox
    </button>
  </div>
</div>

<div class="row mt-3" *ngIf="messages?.length <= 0 && !loading">
  <h3 *ngIf="messages?.length <= 0 && !loading">No Messages</h3>
</div>

<div class="row mt-3" *ngIf="messages?.length > 0">
  <table class="table table-hover message-table">
    <tr>
      <th class="table-column-40 text-center">Message</th>
      <th class="table-column-20">From / To</th>
      <th class="table-column-20">Sent / Received</th>
      <th class="table-column-20 text-center">Action</th>
    </tr>
    <tr
      [hidden]="loading"
      *ngFor="let message of messages"
      routerLink="{{
        messageParams.container === 'Outbox'
          ? '/members/' + message.recipientUserName
          : '/members/' + message.senderUserName
      }}"
      [queryParams]="{ tab: 3 }"
      class="message"
    >
      <td class="text-center">
        <p class="message-content">{{ message.content }}</p>
      </td>
      <td>
        <div *ngIf="messageParams.container !== 'Outbox'" class="text-start">
          <img
            class="rounded-circle user-avatar me-1"
            src="{{ message.senderPhotoUrl || './assets/user.png' }}"
            alt="{{ message.senderUserName }}"
          />
          <strong>{{ message.senderUserName | titlecase }}</strong>
        </div>
        <div *ngIf="messageParams.container === 'Outbox'" class="text-start">
          <img
            class="rounded-circle user-avatar me-1"
            src="{{ message.recipientPhotoUrl || './assets/user.png' }}"
            alt="{{ message.recipientUserName }}"
          />
          <strong>{{ message.recipientUserName | titlecase }}</strong>
        </div>
      </td>
      <td class="text-start">{{ message.messageSent | timeago }}</td>
      <td class="text-center">
        <button
          routerLinkActive="is_disabled"
          class="btn btn-danger"
          (click)="deleteMessage(message)"
          (click)="$event.stopPropagation()"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>

<div
  *ngIf="messages?.length > 0 && !loading"
  class="d-flex justify-content-center"
>
  <pagination
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    [boundaryLinks]="true"
  ></pagination>
</div>
