<div class="container mt-5">
  <div style="text-align: center" *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">
      Come on in to view your matches... all you need to do is sign up!
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>
  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
        <!-- Communication parent with child component. Parent - home comp, child - register comp. We pass down data from home to register -->
        <!-- When we receive data from parent - we use [] ([usersFromHomeComponent]="users"), when pass to parent - () -->
      </div>
    </div>
  </div>
</div>
