<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- / - default url of the site -->
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <a class="navbar-brand" routerLink="/">DatingApp</a>
        <ul class="navbar-nav me-auto">
          <!-- show navbar if currentUser exists -->
          <!-- ngIf - hide ul element if loggedIn = false-->
          <ng-container *ngIf="accountService.currentUser$ | async">
            <!-- This container is not a HTML element - it just useful when you need to give a condition to the part of div elements-->
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/members"
                routerLinkActive="active"
                >Matches
              </a>
              <!-- routelinkactive - when tap on link - it become white-->
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active"
                >Lists</a
              >
            </li>
            <li class="nav-item notification-link">
              <a
                class="nav-link"
                routerLink="/messages"
                routerLinkActive="active"
                >Messages</a
              >
              <span
                *ngIf="(presence.unreadMessagesCount$ | async) > 0"
                class="notification-number"
                >{{ presence.unreadMessagesCount$ | async }}</span
              >
            </li>
            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
              <a
                class="nav-link"
                routerLink="/admin-panel"
                routerLinkActive="active"
                >Admin</a
              >
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active"
              >Errors</a
            >
          </li>
        </ul>
        <div
          *ngIf="accountService.currentUser$ | async as user"
          class="d-flex align-items-center"
        >
          <img
            [src]="user.photoUrl || '../../assets/user.png'"
            [alt]="user.username"
            class="rounded-circle user-avatar"
          />
          <div style="cursor: pointer" class="dropdown" dropdown>
            <!-- now we can use User object because of "as"-->
            <a class="nav-link dropdown-toggle text-light" dropdownToggle
              >Welcome, {{ user.knownAs || user.userName }}!</a
            >
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" routerLink="/member/edit"
                >Edit Profile</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
        <form
          #loginForm="ngForm"
          class="d-flex"
          (ngSubmit)="login()"
          autocomplete="off"
          *ngIf="(accountService.currentUser$ | async) === null"
        >
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-sm-2"
            type="text"
            placeholder="UserName"
            required
          />
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-sm-2"
            type="password"
            placeholder="Password"
            required
          />
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</nav>
