<div class="form-group mb-2 password-group">
  <input
    id="{{ id }}"
    type="password"
    class="form-control"
    [class.is-valid]="ngControl.valid"
    [class.is-invalid]="ngControl.touched && !ngControl.valid"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
  />
  <i
    class="fa"
    [ngClass]="{
      'fa-eye-slash': isPasswordType,
      'fa-eye': !isPasswordType,
      'move-left': ngControl.touched || ngControl.valid
    }"
    (click)="togglePasswordVisibility(id) && (isPasswordType = !isPasswordType)"
  ></i>
  <div class="valid-feedback">Success! You've done it.</div>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    Please, enter a {{ label }}
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{ label }} must be at least
    {{ ngControl.control.errors?.minlength?.requiredLength }} English characters
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{ label }} must be no more than
    {{ ngControl.control.errors?.maxlength?.requiredLength }} English characters
  </div>
  <div
    *ngIf="ngControl.control.errors?.notValidPassword"
    class="invalid-feedback"
  >
    Your {{ label }} must contain at least one number, one special character
    (!@#%&^*$), one capital and one small English letters
  </div>
  <div *ngIf="ngControl.control.errors?.notMatching" class="invalid-feedback">
    Passwords do not match..
  </div>
</div>
