<div class="message-card">
  <div class="card-body">
    <div *ngIf="(messageService.messageThread$ | async)?.length <= 0">
      No messages yet... say hi using the message box below
    </div>

    <ul
      #chat
      *ngIf="(messageService.messageThread$ | async)?.length > 0"
      class="chat"
      [scrollTop]="chat.scrollHeight"
    >
      <!-- FOR HAVING SCROLL AT BOTTOM -->
      <li
        class="message mt-2"
        *ngFor="let message of messageService.messageThread$ | async"
      >
        <div>
          <span class="chat-img">
            <img
              src="{{ message.senderPhotoUrl || '../assets/user.png' }}"
              alt="{{ message.senderUserName }}"
              class="rounded-circle user-avatar"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  message.messageSent | timeago
                }}</span>
                <span
                  class="text-danger"
                  *ngIf="
                    !message.messageRead &&
                    message.senderUserName !== recipientUserName
                  "
                >
                  (unread)
                </span>
                <span
                  class="text-success"
                  *ngIf="
                    message.messageRead &&
                    message.senderUserName !== recipientUserName
                  "
                >
                  (read {{ message.messageRead | timeago }})
                </span>
              </small>
            </div>
            <p class="m-0">{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()">
      <div class="input-group">
        <input
          type="text"
          required
          class="form-control input-sm"
          placeholder="Send a private message"
          [(ngModel)]="message.content"
          name="content"
          autocomplete="off"
        />
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!messageForm.valid"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
